body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("Decore.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 1000px;
}

.icones {
    display: none;
}

.logo {
    position: absolute;
    padding-left: 100px;
    padding-top: 50px;
}

.menu-lista {
    display: flex;
    justify-content: end;
    padding-top: 50px;
    padding-right: 100px;
    list-style: none;
    text-align: center;
}

.menu-itens {
    color: black;
    text-decoration: none;
    list-style: none;
    padding: 2em;
    text-align: center;
    font-weight: bold;
}

.imagem-principal {
    padding-left: 700px;
}

.section-principal {
    position: absolute;
    margin-top: -600px;
    padding-left: 100px;
}

.texto-um {
    color: orangered;
    font-weight: bold;
}

.texto-dois {
    font-size: 64px;
    font-weight: bold;
}

.botao-um {
    background-color: #F1A501;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
}



.play {
    margin-top: -8px;
    position: absolute;
}

span {
    padding-left: 70px;
}

@media screen and (max-device-width: 700px) {

    .icones {
        display: flex;
        justify-content: end;
    }

    .botao {
        background: none;
        border: none;
        color: black;
    }

    .logo {
        position: absolute;
        padding-left: 0;
        padding-top: 0;
        width: 60px;
    }

    .menu-itens {
        display: inline-block;
    }

    #burguer {
        display: block;
        cursor: pointer;
    }

    .menu-lista {
        display: none;
    }

    body {
        background: none;
    }

    .imagem-principal {
        width: 300px;
        padding-left: 0;
    }

    .imagem {
        display: flex;
        justify-content: end;
        padding-top: 30px;
    }

    .section-principal {
        position: absolute;
        margin-top: 0;
        padding-left: 0;
        margin-top: -300px;
    }

    .texto-dois {
        font-size: 18px;
    }

    .texto-um {
        font-size: 18px;
        width: 50%;
    }

    p {
        width: 50%;
    }
    
}